<div class="panel"><div class="panel-body">
<h2>编辑 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= current_user.email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label '密码' %> <i></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label '确认密码' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label '旧密码' %> <i></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.submit "更新" , :class => 'btn btn-primary' %>
  </div>
<% end %>


<%= link_to "Back", :back %>
</div></div>