<div class="panel"><div class="panel-body">
<h1>Listing periods</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th width="39%">课程-章节</th>
      <th width="2%">Id</th>
      <th width="39%">标题</th>
      <th width="20%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.chapter %></td>
        <td><%= period.order_id %></td>
        <td><%= period.subject %></td>
        <td><%= link_to 'Show', period %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period', new_period_path %>
</div></div>