<h1>Listing newsfeeds</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th>Enabled</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsfeeds.each do |newsfeed| %>
      <tr>
        <td><%= newsfeed.subject %></td>
        <td><%= newsfeed.content %></td>
        <td><%= newsfeed.enabled %></td>
        <td><%= newsfeed.order_id %></td>
        <td><%= link_to 'Show', newsfeed %></td>
        <td><%= link_to 'Edit', edit_newsfeed_path(newsfeed) %></td>
        <td><%= link_to 'Destroy', newsfeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsfeed', new_newsfeed_path %>
