<div class="panel"><div class="panel-body">
  <h3><%= @newsfeed.subject %></h3>
  <p class="text-muted">更新于 <%=@newsfeed.updated_at.to_formatted_s(:s)%></p>
  <p>
    <%=image_tag @newsfeed.avatar.url(:medium) , :style => 'width: 100%'%>
  </p>
  <%= @newsfeed.content.html_safe %>



<% if current_admin %>
<%= link_to 'Edit', edit_newsfeed_path(@newsfeed) %> |
<%= link_to 'Back', newsfeeds_path %>
<% end %>

</div></div>