<div class="panel"><div class="panel-body">
<h2>忘记了密码?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.submit "给我发送重置密码的邮件 (如果没有看到 请查看你的垃圾邮件)" , :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div></div>