<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, :label => '姓名' %>
    <%= f.input :job , :label => '工作' %>
    <%= f.input :company , :label => '公司' %>
    <%= f.input :phone , :label => '手机' %>
    <%= f.input :age , :label => '年龄' %>
    <%= f.input :avatar , :label => '个人形象' %>
  </div>

  <div class="form-group">
    <%= f.button :submit , '更新资料' %>
  </div>
<% end %>
