<div class="page-header">
    <h3>课时总计 <%=Period.all.length%> 个</h3>
  </div>

<% cache do %>
  <% @catalogs.each do |catalog| %>
      <% if catalog.courses.length > 0 %>

          <h3><%=catalog.subject%></h3>

          <div class="row">
            <% counter = 1 %>
            <% catalog.courses.each do |course| %>

            <div class="col-md-8">

              <div class="mini-block">

                <% if course.vip_allowed %>

                    <% if course.flag != '' and course.flag != nil %>
                        <div class="github-fork-ribbon-wrapper right">
                          <div class="right-bottom github-fork-ribbon" <% if course.flag_color != '' %>style="background: <%=course.flag_color%><% end %>">
                            <a href="#"><%=course.flag%></a>
                          </div>
                        </div>
                    <% else %>

                        <div class="github-fork-ribbon-wrapper right">
                          <div class="right-bottom github-fork-ribbon">
                            <a href="#">V I P 课 程</a>
                          </div>
                        </div>

                    <% end %>

                <% else %>

                    <% if course.flag != '' and course.flag != nil %>
                        <div class="github-fork-ribbon-wrapper right">
                          <div class="right-bottom github-fork-ribbon" <% if course.flag_color != '' %>style="background: <%=course.flag_color%><% end %>">
                            <a href="#"><%=course.flag%></a>
                          </div>
                        </div>
                    <% end %>

                <% end %>
                <%=link_to image_tag(course.cover.url(:medium), :lazy => true ,:class => 'img-cover-thumb') , course%>
                <h4 class="sub-title"><%=link_to course.subject , course %></h4>
              </div>

            </div>

                <% if counter % 3 == 0 %>

                </div><div class="row">

                <% end %>


            <% counter = counter + 1 %>
            <% end %>
          </div>

      <% end %>
  <% end %>
<% end %>