
  <div class="wrapper ui-coverflow" id="coverflow">

    <% Newsfeed.where(:enabled => true).order(:order_id => :desc).all.each do |newsfeed| %>
        <%= link_to image_tag(newsfeed.avatar.url(:medium) ,
                      :class => 'coverflow' ,
                      :style => 'width: 600px;') , newsfeed%>
    <% end %>
  </div>

  <div id="license">
  </div>

<div class="row course-container" style="margin-top: 300px;">


  <% @courses.each do |course| %>
      <div class="col-md-8">
        <div class="thumbnail">

          <% if course.vip_allowed %>

              <% if course.flag != '' and course.flag != nil %>
              <div class="github-fork-ribbon-wrapper right">
                <div class="right-bottom github-fork-ribbon" <% if course.flag_color != '' %>style="background: <%=course.flag_color%><% end %>">
                  <a href="#"><%=course.flag%></a>
                </div>
              </div>
              <% else %>

                  <div class="github-fork-ribbon-wrapper right">
                    <div class="right-bottom github-fork-ribbon">
                      <a href="#">V I P</a>
                    </div>
                  </div>

              <% end %>

          <% else %>

              <% if course.flag != '' and course.flag != nil %>
                  <div class="github-fork-ribbon-wrapper right">
                    <div class="right-bottom github-fork-ribbon" <% if course.flag_color != '' %>style="background: <%=course.flag_color%><% end %>">
                      <a href="#"><%=course.flag%></a>
                    </div>
                  </div>
              <% end %>

          <% end %>



          <%=link_to image_tag(course.cover.url(:medium), { :class => 'cover'}) , course  %>

            <div class="caption">

              <p class="text-muted text-bordered">

                分类:

                <% if course.catalog != nil %>

                    <%= link_to course.catalog.subject , course.catalog %>

                <% end %>
              </p>


              <h4><%=link_to course.subject, course %></h4>


              <p class="link-group">
                <% if Like::Like.liking?(current_user, course) %>
                    <%= link_to fa_icon("thumbs-up", text: "取消赞"), like_path_for(course), method: :delete %>
                <% else %>
                    <%= link_to fa_icon("thumbs-o-up", text: "赞"), like_path_for(course), method: :post %>
                <% end %>


                <%=link_to fa_icon("bell-o", text: "订阅"), subscribe_course_path(course) %>
              </p>
            </div>
        </div>
      </div>
  <% end %>
</div>

<div class="col-md-24 hidden">
  <%= will_paginate @courses %>
</div>

<script>

  var infinite_scroll = function()
  {
      var $container = $('.course-container');

      $container.imagesLoaded(function(){
          $container.masonry({
              itemSelector: '.col-md-8'
          });
      });

      $container.infinitescroll({
                  navSelector  : '.pagination',    // selector for the paged navigation
                  nextSelector : '.next_page a',  // selector for the NEXT link (to page 2)
                  itemSelector : '.col-md-8',    // selector for all items you'll retrieve

                  loading: {
                      finishedMsg: '加载完成.',
                      img: '<%= asset_path('assets/loading/loading-bubbles.svg')%>',
                      msg: null,
                      msgText: "<em>加载更多的内容...</em>",
                      speed: 'slow'
                  }
              },
              // trigger Masonry as a callback
              function( newElements ) {
                  // hide new items while they are loading
                  var $newElems = $( newElements ).css({ opacity: 0 });
                  // ensure that images load before adding to masonry layout
                  $newElems.imagesLoaded(function(){
                      // show elems now they're ready
                      $('.thumbnail').shadow();
                      $newElems.animate({ opacity: 1 });
                      $container.masonry( 'appended', $newElems, true );
                  });
              }
      );

      $('#coverflow').coverflow({
          active: 1,
          duration: 600 ,
          scale: 0.9,
          trigger:
          {
              itemclick: true,
              swipe: true
          }
      });
  }

  infinite_scroll();

  if( $.turbo.isReady){
      infinite_scroll();
  }


</script>