<div class="panel"><div class="panel-body">
<h1>Listing courses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Subject</th>
      <th>Catalog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= image_tag course.cover.url(:thumb) %></td>
        <td><%= course.subject %></td>
        <td><%= course.catalog %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
</div></div>