<% content_for :javascript do %>
    <%= javascript_include_tag 'viewer/documentViewer/libs/pdfjs/pdf' %>
    <%= javascript_include_tag 'viewer/documentViewer/libs/yepnope.1.5.3-min' %>
    <%= javascript_include_tag 'viewer/demo/js/jquery.tools.min' %>
    <%= javascript_include_tag 'ttw-document-viewer.min' %>
<% end %>

<div class="panel"><div class="panel-body">

<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-16">

      <p class="text-muted"><%= link_to @course.catalog.subject , @course.catalog %></p>
      <h2><%= @course.subject %></h2>

      <div class="block">
      <h4>课程概述</h4>
      <p><%= @course.description.html_safe %></p>
      </div>

    </div>

    <div class="col-md-8">
      <div class="thumbnail_cover">

      <% if @course.vip_allowed %>

          <% if @course.flag != '' and @course.flag != nil %>
              <div class="github-fork-ribbon-wrapper right">
                <div class="right-bottom github-fork-ribbon" <% if @course.flag_color != '' %>style="background: <%=@course.flag_color%><% end %>">
                  <a href="#"><%=@course.flag%></a>
                </div>
              </div>
          <% else %>

              <div class="github-fork-ribbon-wrapper right">
                <div class="right-bottom github-fork-ribbon">
                  <a href="#">V I P</a>
                </div>
              </div>

          <% end %>

      <% else %>

          <% if @course.flag != '' and @course.flag != nil %>
              <div class="github-fork-ribbon-wrapper right">
                <div class="right-bottom github-fork-ribbon" <% if @course.flag_color != '' %>style="background: <%=@course.flag_color%><% end %>">
                  <a href="#"><%=@course.flag%></a>
                </div>
              </div>
          <% end %>

      <% end %>
      <%= image_tag @course.cover , :class => :cover %>
      </div>

    </div>
  </div>


  <% if @course.enabled %>
  <div class="row block">
    <div class="col-md-24">
      <h4>单元学习</h4>

      <ul class="progress-list">
      <% @chapters.each do |chapter| %>

        <li><%=link_to chapter.order_id.to_s+'. '+chapter.subject %>
          <ul>
            <% chapter.periods.order(:order_id => :asc).each do |period| %>

                <li><%= link_to fa_icon("play-circle-o") + " " + period.order_id.to_s + ". " + period.subject , period %></li>

            <% end %>
          </ul>
        </li>

      <% end %>
      </ul>
    </div>
  </div>


  <div id="main-context" class="row block">
    <div class="col-md-24">
          <h4>参考资料:</h4>

            <% if @course.pdf.url != '/pdfs/original/missing.png' %>
            <div id="document-preview" style="height: 640px;"></div>
            <% end %>

          <%= @course.reference.html_safe %>
    </div>
  </div>

  <div class="row block">
    <div class="col-md-24">
      <h4>相关问题:</h4>
      <%= @course.trouble.html_safe %>
    </div>
  </div>

  <% else %>

    <strong>课程还不开放 请耐心等待</strong>

  <% end %>
</div></div>

<% if @course.pdf.url != '/pdfs/original/missing.png' %>
<script>

    var ppt = function(){
        var documentViewer = $('#document-preview').documentViewer();

        documentViewer.load('<%=@course.pdf.url%>', {
            height: $('#main-context').width() - 200  ,
            width: $('#main-context').width() - 60 ,
            extension:'pdf',
            autoplay:true,
            autoLoadDependencies:true,
            debug:false,
            callback:function(){
            },
            jPlayer:{
                //you can play any jPlayer options here
                warningAlerts:false
            }
        });
    }

    ppt();
    if( $.turbo.isReady){
        console.log('Cancel');
        ppt();
    }


</script>
<% end %>