<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @chapter.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @chapter.order_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course_id %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
