<div class="panel"><div class="panel-body">

  <div class="alert alert-info">更新成功 等待审核成功 您就讲升级为VIP会员</div>

<p>
  <strong>怎么称呼您:</strong>
  <%= @wishlist.name %>
</p>

<p>
  <strong>您目前的工作:</strong>
  <%= @wishlist.job %>
</p>

<p>
  <strong>您所在的公司:</strong>
  <%= @wishlist.company %>
</p>

<p>
  <strong>手机联系方式:</strong>
  <%= @wishlist.phone %>
</p>

<p>
  <strong>Email联系方式:</strong>
  <%= @wishlist.email %>
</p>

<p>
  <strong>从哪里了解我们的:</strong>
  <%= @wishlist.get_from %>
</p>

<p>
  <strong>你期待的课程:</strong>
  <%= @wishlist.message %>
</p>

</div></div>