<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "精益云学院" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


    <%= javascript_include_tag "application" %>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/"><%=image_tag image_path('/leanyun-logo.png') , :style => 'height: 34px;' %></a>

        <div class="navbar-collapse collapse navbar-responsive-collapse  pull-right">
          <ul class="nav navbar-nav">
            <li><%= link_to "首页", root_path %></li>
            <li><%= link_to "所有课程", all_courses_path %></li>
            <li><%= link_to "我的课程", my_course_path %></li>
            <li><%= link_to "观看记录", all_history_path %></li>
            <% if current_admin %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "所有分类", catalogs_path  %></li>
                    <li><%= link_to "所有课程", courses_path  %></li>
                    <li><%= link_to "所有章节", chapters_path  %></li>
                    <li><%= link_to "所有视频", periods_path  %></li>
                    <li class="divider"></li>


                    <li><%= link_to "会员添加", members_new_path  %></li>
                    <li><%= link_to "会员管理", members_path  %></li>
                    <li><%= link_to "VIP管理", vips_path  %></li>
                    <li><%= link_to "愿望列表", wishlists_path  %></li>
                    <li class="divider"></li>

                    <li><%= link_to "首页Newsfeed管理", newsfeeds_path  %></li>
                    <li><%= link_to "导航帮助管理", modes_path %></li>
                  </ul>
                </li>
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">与我相关 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user  %>
                    <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
                    <li><%= link_to('我的信息' , user_profile_path(:me) )%></li>
                    <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                <% elsif current_admin %>
                    <li><%= link_to('登出', destroy_admin_session_path, :method => :delete) %></li>

                <% else %>
                    <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                    <li><%= link_to('登入', new_session_path(:user)) %></li>
                <% end %>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">帮助 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% Mode.all.each do |mode| %>
                <li><%=link_to mode.subject , mode %></li>
                <% end %>
              </ul>
            </li>

          </ul>


        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-18 col-md-18 col-ms-24">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

        <div class="col-lg-6 col-md-6 hidden-sm">
          <div class="panel"><div class="panel-body">
            <h3>课程类别</h3>
            <ul class="nav nav-list">
              <% cache do %>
                <% Catalog.where(:enabled => true).order(:order_id => :asc).all.each do |catalog| %>

                <li><%=link_to catalog do %> <%=catalog.subject%> <span class="badge"><%=catalog.courses.length%></span><% end %></li>

                <% end %>
              <% end %>
            </ul>


          </div></div><!--/.well -->
          <div class="panel"><div class="panel-body">
            <%=image_tag image_path('contact-us.png')%>
          </div></div>
        </div><!--/span-->
      </div><!--/row-->

      <footer>

      </footer>

    </div> <!-- /container -->


  <%= yield :javascript %>
  <script>
  <% if current_user and request.env['PATH_INFO'] != '/sso_warning' %>

      var socket = io('http://demo.leanyun.com:3456');
      socket.emit('uid', { id: <%=current_user.id%> , session_id: "<%=request.session_options[:id]%>" });

      socket.on('uid' , function(data){

          if(data.id == <%=current_user.id%> && data.session_id != "<%=request.session_options[:id]%>")
          {
              console.log('Fails to sso');
              window.location.href = "<%=sso_warning_path%>";
          }
      });

  <% end %>
  </script>
  </body>
</html>
